@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(images/logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 4vmin;
    color: rgb(0, 0, 0);
}
.title1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    font-size: 6vmin;
    color: rgb(0, 0, 0);

}
.Row {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 30.33%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0346aa;
  padding: 8px 50px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.slide1{
    background-image: url(images/C2.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   margin-top: 50px;
   margin-left: 10px;
   height:540px;
   width: 350;
   animation: slide1 25s infinite;
  
  
  }
  
  @keyframes slide1 {
  
  0%{
    background-image: url(images/C1.jpg);
  }
  
  }
  
  .containers{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #808080 0%, #000000 51%);;
  
    width: 360px;
    background: #e9dede;
    box-shadow: 0 0 8px rgba(247, 241, 241, 0.6);
    opacity: 0.6;
  }
  .containerss form{
    width: 50%;
    text-align: center;
    padding: 25px 20px;
  }
  form h1{
    padding: 10px 0;
  }
  form .id{
    position: relative;
  }
  .id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #f1ecec;
    border-radius: 3px;
    background: #f7f2f2;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
  }
  form textarea{
    padding: 5px 15px;
    border: 1px solid #fcf9f9;
    border-radius: 3px;
    background: #f8f3f3;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
  }
  form button{
    margin-top: 5px;
    border: none;
    background: #282929;
    color: rgb(243, 236, 236);
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
  }
  